PORT=8000

MONGO_URI='Your_database_url'


TWILIO_SERVICE_SID=''


 TWILIO_ACCOUNT_SID=''

 TWILIO_AUTH_TOKEN=''

 JWT_SECRET_KEY='jieiwuewejij2ee28282j2ieje'


EMAIL_USER = "gmail_app_email" 
EMAIL_PASS = "gmail_app_passwords"


CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""



FRONTEND_URL = http://localhost:5173